.parallax img {
    display: block;
}
.allScreenLoading {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2050;
    -webkit-overflow-scrolling: touch;
    background-color: #000;
    opacity: .8;
}
.loadingcenter {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
}